<section>
        <div class="columns m-4">
            <div class="column">
                <div class="box">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Text input">
                        </div>
                    </div>
                      
                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control has-icons-left has-icons-right">
                          <input class="input" type="email" placeholder="Email">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <label class="label">Password</label>
                        <p class="control has-icons-left">
                          <input class="input" type="password" placeholder="Password">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>
                      <div class="field">
                        <label class="label">Age</label>
                        <div class="control">
                          <input class="input" type="number" placeholder="Number of years old">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                          <label class="label">Gender</label>
                            <input type="radio" name="question">
                            Male
                          </label>
                          <label class="radio">
                            <input type="radio" name="question">
                            Female
                          </label>
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Height [cm]</label>
                        <div class="control">
                          <input class="input" type="number" placeholder="Height in centimeters">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Weight [kg]</label>
                        <div class="control">
                          <input class="input" type="number" placeholder="Weight in kilograms">
                        </div>
                    </div>
                      <div class="field">
                        <label class="label">Exercise Level</label>
                        <div class="control">
                          <div class="select">
                            <select>
                            <option value="" selected disabled hidden>Choose here</option>
                              <option>Sedentary: little or no exercise</option>
                              <option>Exercise 1-3 times/week</option>
                              <option>Exercise 4-5 times/week</option>
                              <option>Daily exercise or intense exercise 3-4 times/week</option>
                              <option>Intense exercise 6-7 times/week</option>
                              <option>Very intense exercise daily, or physical job</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      
                      <div class="field">
                        <div class="control">
                          <label class="checkbox">
                            <input type="checkbox">
                            I agree to the <a href="#">terms and conditions</a>
                          </label>
                        </div>
                      </div>             
                      
                      <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                          <button class="button is-link is-light">Cancel</button>
                        </div>
                      </div>
                </div>
                
            </div>
            <div class="column">

            </div>

        </div>
    </section>