<!-- Hero -->

        <section>
            <section class="hero is-medium is-primary">
                <div class="hero-body">
                    <p class="title">Good meals, good health</p>
                    <p class="subtitle">Get the right meals, custom fitted to you.</p>
                </div>
            </section>
        </section>

        <!-- Login Section -->

        <section>
            <div class="columns ">
                <div class="column">

                </div>

                <div class="column">
                    <form class="box m-4">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input" type="email" placeholder="e.g. alex@example.com" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="********" />
                            </div>
                        </div>

                        <button class="button is-primary">Sign in</button>
                    </form>
                </div>
                    <div class="column">
                        <section class="section">
                            <div class="container">
                                <h1 class="title">
                                    RightSize Meals
                                </h1>
                                <p class="subtitle">
                                    Good portions, good health.
                                </p>
                            </div>
                        </section>

                    </div>
                
            </div>
        </section>
        <script src="../public/js/login.js"></script>