<!-- Hero -->

<section>
    <section class="hero is-medium is-primary" id="homepage">
        <div class="hero-body">
            <p id="hero-title" class="title">Good meals, good health</p>
            <br>
            <p id="hero-subtitle" class="subtitle">Build nutritious mealplans for your goals</p>
            <br>
            <a href="/form">
                <button class="button is-primary is-large">GET STARTED</button>
            </a>
        </div>
    </section>
</section>

<!-- Login Section -->

<section>
    <div class="column">
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title ">
                    RightSize Meals
                </h1>
                <p class="subtitle">
                    Good portions, good health.
                </p>
            </div>
        </section>
    </div>
</section>