<div class="columns align-vertical">
    <div class="column">
        <section class="section text-is-centered">
                <h1 class="title">Welcome Back!</h1>
        </section>
        <form class="box m-4" id="login-form">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" placeholder="e.g. alex@example.com" id="user-email" />
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="********" id="password-login" />
                </div>
            </div>

            <button class="button is-primary is-medium is-fullwidth">Sign in</button>
        </form>

    </div>
    <div class="column">
        <div id="cutting-board-img"></div>
    </div>
</div>

<script src="./js/login.js"></script>