<div class="columns m-4">
    <div class="column">
        <section class="box content">
            <h1>Profile</h1>
            <p></p>
            <h4>Name</h4>
            <p>{{user.name}}</p>
            <h4>Age</h4>
            <p>{{user.age}}</p>
            <h4>Gender</h4>
            <p>Male</p>
            <h4>Height</h4>
            <p>160cm</p>
            <h4>Weight</h4>
            <p>80kg</p>
            <h4>Exercise Level</h4>
            <p>Exercise 1-3 times/week</p>
            <h3>Daily Calories Target: <strong>2000</strong></h3>

            
            
        </section>
    </div>
    <div class="column">

    </div>

    </div>
    