#homepage {
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("/images/fork-measure.jpg");
  background-size: cover;
  background-position: center;
}

#hero-title {
  font-size: 5rem;
}

#hero-subtitle {
  font-size: 2rem;
}

#cutting-board-img {
  height: 500px;
  margin: 25px;
  background-image: url("/images/cutting-board.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#fruitstand-img {
  height: 500px;
  margin: 25px;
  background-image: url("/images/fruitstand.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#salad-img {
  height: 500px;
  margin: 25px;
  background-image: url("/images/salad.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}